<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Backup</title>
</head>

<body>
    <div id="container">
        <input type="file" id="selectJson" value="Import JSON" accept="application/json" />
        <br>
        <button id="send">Create playlists</button>
        <br>
        <p id="success" hidden="true">Playlists successfully created</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jsontospotify.js') }}"></script>
</body>

</html>